{{ ansible_managed }}

[Unit]
Description=Run mcron jobs
After=time-sync.target

[Service]
User={{ mcron_user }}
ExecStart={{ GUIX_BIN }}/mcron {{ jobs_filename }}
Restart=on-failure

[Install]
WantedBy=multi-user.target

