[Unit]
After=systemd-user-sessions.service

[Service]
User=ethercalc
Environment=OPENSHIFT_DATA_DIR=/data/ethercalc
ExecStart=/usr/local/bin/ethercalc
Restart=always

[Install]
WantedBy=multi-user.target
